:root {
	--very-dark-magenta: hsl(300, 43%, 22%);
	--soft-pink: hsl(333, 80%, 67%);
	--dark-grayish-magenta: hsl(303, 10%, 53%);
	--light-grayish-magenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);
}

body {
	font-family: "Spartan", sans-serif;
	font-size: 15px;
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
}

#review {
	padding: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.heading {
	font-size: 38px;
	font-weight: 700;
	max-width: 80%;
	color: var(--very-dark-magenta);
	line-height: 1;
	margin: 0 0 10px;
}
.subheading {
	max-width: 70%;
	font-size: 12px;
	font-weight: 500;
	max-width: 80%;
	color: var(--dark-grayish-magenta);
}
.left {
	flex-basis: 50%;
}
.right {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
}
.review-box {
	width: 280px;
	display: flex;
	align-items: center;
	background: var(--light-grayish-magenta);
	padding: 10px 10px 10px 20px;
	border-radius: 7px;
	margin-bottom: 12px;
}
.review-box-message {
	margin: 0 0 0 10px;
	font-size: 12px;
	font-weight: 700;
}
.stars img {
	width: 12px;
	height: 12px;
}
.review-box.mr30 {
	margin-left: 30px;
}
.review-box.mr70 {
	margin-left: 70px;
}
.review-card-container {
	background: var(--very-dark-magenta);
	width: calc(30vw - 40px);
	height: 200px;
padding: 10px 20px;
border-radius: 10px;
display: flex;
justify-content: center;
flex-direction: column;
}
#comments {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.top-section img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.top-section {
	display: flex;
	align-items: center;
}
.name-type-container {
	margin-left: 20px;
}
.reviewer-name {
	color: var(--white);
font-size: 12px;
margin: 0 0 5px;
}

.reviewer-type {
	color: var(--soft-pink);
font-size: 12px;
margin: 0;

}

.description {
	color: var(--white);
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 0;
	text-align: justify;
}

.m-t-20 {
	margin-top: 40px;
}
.m-t-40 {
	margin-top: 80px
}